3DOI/outputs
3DOI/outputs/*
3DOI/checkpoints
3DOI/checkpoints/*

grounded_sam/*.pth

# isaac sim
isaac_sim/IsaacLab
isaac_sim/outputs
isaac_sim/__pycache__

# sdf

sdf/__pycache__/
sdf/*.py[cod]
sdf/*$py.class
sdf/*.so
sdf/.Python
sdf/build/
sdf/develop-eggs/
sdf/dist/
sdf/downloads/
sdf/!scripts/downloads/
sdf/eggs/
sdf/.eggs/
sdf/lib/
sdf/lib64/
sdf/parts/
sdf/sdist/
sdf/var/
sdf/wheels/
sdf/share/python-wheels/
sdf/*.egg-info/
sdf/.installed.cfg
sdf/*.egg
sdf/MANIFEST
sdf/*.manifest
sdf/*.spec
sdf/pip-log.txt
sdf/pip-delete-this-directory.txt
sdf/htmlcov/
sdf/.tox/
sdf/.nox/
sdf/.coverage
sdf/.coverage.*
sdf/.cache
sdf/nosetests.xml
sdf/coverage.xml
sdf/*.cover
sdf/*.py,cover
sdf/.hypothesis/
sdf/.pytest_cache/
sdf/cover/
sdf/*.mo
sdf/*.pot
sdf/*.log
sdf/local_settings.py
sdf/db.sqlite3
sdf/db.sqlite3-journal
sdf/instance/
sdf/.webassets-cache
sdf/.scrapy
sdf/docs/_build/
sdf/.pybuilder/
sdf/target/
sdf/.ipynb_checkpoints
sdf/profile_default/
sdf/ipython_config.py
sdf/.pdm.toml
sdf/__pypackages__/
sdf/celerybeat-schedule
sdf/celerybeat.pid
sdf/*.sage.py
sdf/.env
sdf/.envrc
sdf/.venv
sdf/env/
sdf/venv/
sdf/ENV/
sdf/env.bak/
sdf/venv.bak/
sdf/.spyderproject
sdf/.spyproject
sdf/.ropeproject
sdf//site
sdf/.mypy_cache/
sdf/.dmypy.json
sdf/dmypy.json
sdf/.pyre/
sdf/.pytype/
sdf/cython_debug/
sdf/outputs/
sdf/exports/
sdf/renders/
sdf/outputs
sdf/vis/
sdf/meshes/
sdf/gradio_cached_examples/
sdf/events.out.*
sdf/data
sdf/!*/data
sdf/old/
sdf/temp*
sdf/!temporal*
sdf/.nfs*
sdf/external/
sdf/__MACOSX/
sdf/node_modules/
sdf/bash/
sdf/cache/
sdf/package-lock.json
sdf/camera_paths/
sdf/._.DS_Store
sdf/.DS_Store
sdf/.vscode/settings.json
sdf/vis_results/
sdf/W/
sdf/*.ply
sdf/.idea/
sdf/.github
sdf/.vscode
sdf/scripts_others

splat/__pycache__/
splat/*.py[cod]
splat/*$py.class
splat/*.so
splat/.Python
splat/build/
splat/develop-eggs/
splat/dist/
splat/downloads/
splat/!nerfstudio/scripts/downloads/
splat/eggs/
splat/.eggs/
splat/lib/
splat/lib64/
splat/parts/
splat/sdist/
splat/var/
splat/wheels/
splat/share/python-wheels/
splat/*.egg-info/
splat/.installed.cfg
splat/*.egg
splat/MANIFEST
splat/*.manifest
splat/*.spec
splat/pip-log.txt
splat/pip-delete-this-directory.txt
splat/htmlcov/
splat/.tox/
splat/.nox/
splat/.coverage
splat/.coverage.*
splat/.cache
splat/nosetests.xml
splat/coverage.xml
splat/*.cover
splat/*.py,cover
splat/.hypothesis/
splat/.pytest_cache/
splat/cover/
splat/*.mo
splat/*.pot
splat/*.log
splat/local_settings.py
splat/db.sqlite3
splat/db.sqlite3-journal
splat/instance/
splat/.webassets-cache
splat/.scrapy
splat/docs/_build/
splat/.pybuilder/
splat/target/
splat/.ipynb_checkpoints
splat/profile_default/
splat/ipython_config.py
splat/.pdm.toml
splat/__pypackages__/
splat/celerybeat-schedule
splat/celerybeat.pid
splat/*.sage.py
splat/.env
splat/.envrc
splat/.venv
splat/env/
splat/venv/
splat/ENV/
splat/env.bak/
splat/venv.bak/
splat/.spyderproject
splat/.spyproject
splat/.ropeproject
splat//site
splat/.mypy_cache/
splat/.dmypy.json
splat/dmypy.json
splat/.pyre/
splat/.pytype/
splat/cython_debug/
splat/outputs/
splat/exports/
splat/renders/
splat/events.out.*
splat//data
splat/old/
splat/temp*
splat/!temporal*
splat/.nfs*
splat/external/
splat/__MACOSX/
splat/node_modules/
splat/bash/
splat/cache/
splat/package-lock.json
splat/camera_paths/
splat/.DS_Store
splat/._.DS_Store
splat/*/**/.DS_Store
splat/*/**/._.DS_Store
splat/.pixi
splat//third_party
splat/vis/*
splat/.idea/*
splat/ckpts/
splat/logs/*
splat/wandb/*
splat/samples/*
splat/pixi*
splat/.github
splat/.idea
splat/.vscode
splat/src
splat/wandb
splat/vis

cs_kitchen

# Python cache
__pycache__/
*.py[cod]

# editor config
.vscode/

research_insights/*.npz
research_insights/*.ply